h1 {
    color: rgb(16, 145, 150);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h2 {
    color: tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}